@import url('fonts.css');
body {
    background-color: #fafafa;
    font-family: 'Quicksand', sans-serif;
    color: rgba(0, 0, 0, 0.5);
}

a {
    color: inherit;
}

a:hover {
    color: #6777ef;
}

/* Sidebar  */

#wrapper {
    overflow-x: hidden;
}

#sidebar-wrapper {
    min-height: 100vh;
    margin-left: -15rem;
    transition: margin 0.25s ease-out;
    background-color: #fff;
}

#sidebar-wrapper .sidebar-heading {
    padding: 0.8rem 1.25rem;
    font-size: 1.6rem;
    background-color: #fff;
    color: #6777ef;
    font-weight: 500;
}

#sidebar-wrapper .list-group {
    width: 15rem;
}

#sidebar-wrapper .list-group .list-group-item {
    border: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.5);
}

#sidebar-wrapper .list-group .list-group-item:hover {
    background-color: #f8fafb;
    color: #6777ef;
    border-right: 3px solid #6777ef;
}

#sidebar-wrapper .list-group .list-group-item.active {
    border-right: 3px solid #6777ef;
    background-color: #f8fafb;
    color: #6777ef;
}

#sidebar-wrapper .list-group .sidebar-menu {
    padding: 0.75rem 1rem 0.75rem;
    font-size: 0.7rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #a7aeb8;
}

#page-content-wrapper {
    min-width: 100vw;
}

body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
    margin-left: 0;
}

@media (min-width: 768px) {
    #sidebar-wrapper {
        margin-left: 0;
    }
    #page-content-wrapper {
        min-width: 0;
        width: 100%;
    }
    body.sb-sidenav-toggled #wrapper #sidebar-wrapper {
        margin-left: -15rem;
    }
}

/* Alert  */

.alert-danger {
    color: #fd2a2a;
    font-weight: 500;
    background-color: #ffebeb;
    border-color: #ffebeb;
}

/* Alertify */

.alertify-notifier .ajs-message.ajs-success {
    background: #6777ef;
    color: #fff;
    font-weight: 600;
}

/* Background Colors */

.bg-primary {
    background-color: #6777ef !important;
}

/* Buttons */

.btn-check:active+.btn-primary:focus, .btn-check:checked+.btn-primary:focus, .btn-primary.active:focus, .btn-primary:active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary {
    background-color: #6777ef;
    border-color: #6777ef;
    font-weight: 500;
}

.btn-primary:hover, .btn-primary:focus {
    background-color: #6777ef;
    border-color: #6777ef;
    box-shadow: 0 2px 6px #acb5f6;
}

/* Cards */

.card {
    border: none;
}

/* Dropdowns */

.dropdown-item {
    color: rgba(0, 0, 0, 0.5);
    font-weight: 600;
}

.dropdown-item:hover, .dropdown-item:focus {
    color: #6777ef;
    background-color: #f8fafb;
}

/* Form */

label {
    color: #555b6e;
    font-weight: 600;
}

.form-control {
    font-weight: 500;
}

.form-control:focus {
    border-color: #6777ef;
    box-shadow: 0 2px 6px #acb5f6;
    font-weight: 500;
}

.invalid-feedback {
    font-size: 1em;
    color: #fb160a;
    font-weight: 500;
}

.was-validated .form-control:invalid, .form-control.is-invalid {
    border-color: #fb160a;
    background-image: none;
}

.was-validated .form-control:invalid:focus, .form-control.is-invalid:focus {
    border-color: #fc544b;
    box-shadow: 0 2px 6px #fd9b96;
}

.was-validated .custom-file-input:invalid~.custom-file-label, .custom-file-input.is-invalid~.custom-file-label {
    border-color: #fb160a;
}

.was-validated .custom-file-input:invalid:focus~.custom-file-label, .custom-file-input.is-invalid:focus~.custom-file-label {
    border-color: #fc544b;
    box-shadow: 0 2px 6px #fd9b96;
}

/* Modal */

.modal-title {
    font-size: 1.4em;
    line-height: normal;
    font-weight: 600;
    color: #6777ef;
}

/* Pagination */

.page-item .page-link {
    color: #6777ef;
    border-radius: 3px;
    margin: 0 3px;
}

.page-item.active .page-link {
    background-color: #6777ef;
    border-color: #6777ef;
}

.page-item.disabled .page-link {
    border-color: transparent;
    background-color: #f9fafe;
    color: #6777ef;
    opacity: .6;
}

.page-link {
    border-color: transparent;
    background-color: #f9fafe;
    font-weight: 600;
}

.page-link:hover {
    background-color: #6777ef;
    color: #fff;
    border-color: transparent;
}

.page-link:focus {
    box-shadow: none;
}

/* Section */

.section .title {
    color: #6777ef;
    font-size: 1.6em;
    font-weight: 600;
}

/* table */

.table thead th {
    color: #555b6e;
    vertical-align: bottom;
    border-bottom: none;
    background-color: rgba(0, 0, 0, 0.04);
    padding-top: 10px;
    padding-bottom: 10px;
}

.table tbody td {
    color: rgba(0, 0, 0, 0.5) !important;
    font-weight: 600;
    vertical-align: middle;
}

.table th, .table td {
    border-top: none;
    border-bottom: none;
}

.icon-table {
    font-size: 16px;
}

/* Text */

.text-primary {
    color: #6777ef !important;
}

.text-danger {
    color: #fc544b !important;
}